
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<a href="/Species/List">Back to List of all Pets</a>
<form method="post" action="/Species/Add">
    <div><span>Name of Species:</span><input id="SpeciesName" type="text" name="SpeciesName" /></div>
    <div><input type="submit" value="Add Species"></div>
</form>