@model PetGrooming.Models.Species

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<a href="/Species/List">Back to List</a>


<div><span>Species ID: </span>@Model.SpeciesID</div>    
<div><span>Species Name: </span> @Model.Name </div>

        

   



